dist: trusty
sudo: false
env:
  global:
    - CC_TEST_REPORTER_ID=b0fed3b6b9b09683bf744113f1effa146b532c2fc05f21d0b3f29787807bca01

branches:
  only:
    - master

language: python

matrix:
  include:
  - python: "2.7"
    env: BOT_CHANNEL=PUB_2_7 BOT_PRIVATE_CHANNEL=PRIV_2_7
  - python: "3.4"
    env: BOT_CHANNEL=PUB_3_4 BOT_PRIVATE_CHANNEL=PRIV_3_4
  - python: "3.5"
    env: BOT_CHANNEL=PUB_3_5 BOT_PRIVATE_CHANNEL=PRIV_3_5
  - python: "3.6"
    env: BOT_CHANNEL=PUB_3_6 BOT_PRIVATE_CHANNEL=PRIV_3_6
    
install:
  - pip install -r requirements.txt
  - pip install pytest-cov
  - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then pip install mock; fi
  - pip install .

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script: pytest --cov=mmpy_bot tests/ --cov-report xml

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
